.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div#text {
    left: 25px;    
    position: absolute;
    top: 100px;

    div {
        display: none;
    }
    span.title {
        background-color: rgba(0, 0, 0, .75);
        color: #FFF;
        font: italic 24px/41px Georgia, serif;
        padding: 6px 12px;   
        text-shadow: 0px -1px 1px #000000;
    }
    span.subtitle {
        background-color: rgba(0, 0, 0, .75);
        color: #CCC;
        display: inline-block;
        font: italic 16px/31px Georgia, serif;
        margin: 0;
        padding: 0px 12px; 
        text-shadow: 0px -1px 1px #000000;
        width: 72px;
    }
}
body {
    background: #000;
    height: 100%;
    margin: 0;
    position: fixed;
    width: 100%;
    -webkit-font-smoothing: antialiased;

    div.container {
        background: #000 50% 0 no-repeat;
        background-size: cover;
        height: 100%;
        position: fixed;
        width: 100%;
        -moz-background-size: cover;

        &#contacts {
            background-image: url('../images/contacts.jpg');

            div.contacts {
                display: block;
            }
        }
        &#northstar {
            background-image: url('../images/northstar.jpg');

            div.northstar {
                display: block;
            }
        }
        &#copiers {
            background-image: url('../images/copiers.jpg');

            div.copiers {
                display: block;
            }
        }
        &#homemovies {
            background-image: url('../images/homemovies.jpg');

            div.homemovies {
                display: block;
            }
        }
        &#jolt {
            background-image: url('../images/jolt.jpg');

            div.jolt {
                display: block;
            }
        }
        &#jello {
            background-image: url('../images/jello.jpg');

            div.jello {
                display: block;
            }
        }
        &#mouse {
            background-image: url('../images/mouse.jpg');

            div.mouse {
                display: block;
            }
        }
        &#pc {
            background-image: url('../images/pc.jpg');

            div.pc {
                display: block;
            }
        }
        &#photography {
            background-image: url('../images/photography.jpg');

            div.photography {
                display: block;
            }
        }
        &#rayban {
            background-image: url('../images/rayban.jpg');

            div.rayban {
                display: block;
            }
        }
        &#rochester {
            background-image: url('../images/rochester.jpg');

            div.rochester {
                display: block;
            }
        }
        &#votingmachine {
            background-image: url('../images/votingmachine.jpg');

            div.votingmachine {
                display: block;
            }
        }
        &#womensrights {
            background-image: url('../images/womensrights.jpg');

            div.womensrights {
                display: block;
            }
        }
    }
    div.preload {
        display: none;
    }
}
.footer {
    position: absolute;
    bottom: 25px;
    left: 25px;

    span.logo {
        display: inline-block;
        margin-right: 15px;
        position: relative;

        img {
            vertical-align: middle;
        }
        a#logo {
            display: inline-block;
        }
        div.awesome {
            background: rgba(245, 245, 245, .95);
            border: 1px solid #E3E3E3;
            border-bottom: 0;
            display: none;
            height: 215px;
            left: -18px;
            position: absolute;
            top: -230px;
            width: 276px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            span.arrow {
                border-top: 12px solid rgba(245, 245, 245, .95);
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                display: block;
                left: 126px;
                height: 0;
                position: absolute;
                top: 215px;
                width: 0;
            }
            header {
                text-align: center;
                position: relative;

                h1 {
                    color: #666666;
                    font: bold 14px Helvetica;
                    margin: 10px 0 3px 0;
                    text-shadow: 0 1px 1px #FFFFFF;
                }
                h2 {
                    color: #999999;
                    font: bold 12px Helvetica;
                    margin: 0;
                    text-shadow: 0 1px 1px #FFFFFF;
                }
                a.close {
                    background: transparent url('../images/close.png') top left no-repeat;
                    display: block;
                    height: 12px;
                    position: absolute;
                    right: 7px;
                    top: -5px;
                    width: 12px;
                }
            }
            section.embed {
                padding: 10px 10px 9px 10px;

                div.choose {

                    a {
                        display: block;
                        float: left;
                        font: bold 11px Helvetica;
                        padding: 3px 0;
                        text-align: center;
                        text-decoration: none;
                        width: 128px;

                        &.dark-on-light {
                            background: white;
                            color: #686868;
                            -webkit-border-radius: 5px 0 0 0;
                            -moz-border-radius: 5px 0 0 0;
                            border-radius: 5px 0 0 0;
                        }
                        &.light-on-dark {
                            background: #777777;
                            color: #FFF;
                            -webkit-border-radius: 0 5px 0 0;
                            -moz-border-radius: 0 5px 0 0;
                            border-radius: 0 5px 0 0;
                        }
                    }
                }
                textarea {
                    background: white;
                    border-radius: 0 0 5px 5px;
                    border: none;
                    height: 80px;
                    font: 10px/13px Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
                    margin: 0;
                    padding: 10px;
                    width: 236px;
                    -webkit-border-radius: 0 0 5px 5px;
                    -moz-border-radius: 0 0 5px 5px;

                    &.dark-on-light {
                        background: white;
                        color: #686868;
                    }
                    &.light-on-dark {
                        background: #777777;
                        color: #FFF;
                        display: none;
                    }
                }
            }
            footer {
                color: #999999;
                font: bold 12px Helvetica;
                text-align: center;
                text-shadow: 0 1px 1px #FFFFFF;

                a {
                    color: #666666;
                    padding: 0 3px;
                }
            }
        }
    }
    .twitter {
        font: bold 12px Helvetica, serif;
        text-shadow: 0px -1px 1px #000000;
        position: relative;
        top: 4px;        

        a {
            color: #FFF;
            text-decoration: none;

            &:hover {
                color: #C0B18E;
                text-decoration: none;
            }
        }
    }
}
